
<section id="footer">
	<div class="container">
		<h5>&copy made with love by <a href="https://github.com/swishypants">Cheryl</a>, <a href="https://github.com/helensee">Helen</a>, and <a href="https://github.com/conscou">Connie</a></h5>
	</div>
</section>