<section id="about">
	<div class="container">
		<h1>About</h1>
		<div class="col-sm-5 col-md-6" style="float:left;">
			<img src="/grocery.png">
		</div>
		<div class="col-sm-5 col-md-6" style="margin-top: 5%;">
			foodSNAP aims to eliminate hunger and food waste by making sure food goes to where it should belong--
			on someone's plate.
			<br>
			<br>
			Each year, super markets and restaurants in the United States serve more than 
			400 million pounds of food per year. A third of that ends up being wasted a thrown out.
			That's about 134 million pounds of food--worth roughly $160 million--that could be 
			given to someone in need.
			<br>
			<br>
			Some restaurants and super markets arrange to have leftover food be donated to local soup
			kitchens and food pantries; however, the cost of transporting food is costly, and many 
			establishments would rather not endure the extra expense. foodSNAP wants to change that. We 
			want to pair up food companies--restaurants, markets, warehouses, etc.--and mobilize volunteers and those in
			need to come and pick up food that would otherwise have been thrown out, and allocate them to where
			it is needed. 
		
		</div>
	</div>
	
	
</section>