<section id="about">
	<div class="container">
		<h1>About</h1>
		<div class="col-sm-5 col-md-6" style="float:left;">
			<img src="/grocery.png">
		</div>
		<div class="col-sm-5 col-md-6" style="margin-top: 5%;">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Fusce blandit magna at rutrum cursus. 
			Mauris in sem at tortor egestas ullamcorper a id lectus. 
			Sed ut nisi nec quam congue congue at sed nunc. Suspendisse nec dapibus felis. 
			Suspendisse quam diam, maximus nec accumsan at, egestas quis nisl. Nulla at cursus sem. 
			Curabitur maximus mi sed dignissim interdum. Donec eu viverra velit.
			
			Fusce dictum semper enim, vel volutpat est pretium ac. 
			Integer pulvinar ipsum nec lectus ornare suscipit. 
			Pellentesque venenatis velit eu risus posuere convallis. 
			Mauris non ante ut lacus placerat volutpat in in magna. 
			Nunc sollicitudin ante vel arcu ullamcorper tristique. 
			Donec risus dolor, mollis in porttitor id, commodo et ex. 
			Integer imperdiet consequat mauris, malesuada viverra nunc. 
			Mauris eget ornare quam. Donec orci est, placerat quis vestibulum fringilla, aliquet in felis. 
			Pellentesque eu magna tortor. Aliquam varius viverra purus, ac aliquam odio luctus a. 
			Maecenas a mauris a odio euismod efficitur et non mi. 
			Nunc vitae arcu consequat, imperdiet massa vitae, faucibus tortor. 
			In elementum sollicitudin elementum.
		
		</div>
	</div>
	
	
</section>