<section id="calendar-home">
	<div class="container">
		<h1>Calendar</h1>
			<form>
		  	  <fieldset class="form-group">
		  		<label for="formGroupZipcodeInput">Type in your zipcode to get the calendar for food markets in your area</label>
    			  <input type="text" class="form-control" style="width: 100px; margin: 0 auto; margin-top:10px;" id="formGroupZipcodeInput" placeholder="Zipcode" maxlength="5">
  			  </fieldset>
  			 </form>
		<a type="button" class="btn btn-lg btn-primary" href="calendar">Check Calendar</a>
	</div>
	
</section>