<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>
<body>
	 <% include ../partials/nav.ejs %>

	<section id="calendar">
		<div class="container">
			<h1>Calendar</h1>
				<!--calendar stuff goes here-->
		</div>
	</section>
	
<% include ../partials/footer.ejs %>
</body>
</html>
