<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
 <% include ../partials/nav.ejs %>
	<section id="company-login" style="padding-top:100px;">
		<div class="container">
			<h1>Company Login</h1>
				<form style="margin-top: 20px;">
		  	  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formCompanyInput"></label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formCompanyInput" placeholder="Username">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formCompanyPasswordInput"></label>
    			  		<input type="password" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formCompanyPasswordInput" placeholder="Password">
  			  		</fieldset>
  			 		<a type="button" class="btn btn-lg btn-primary" style="color: #ffffff; margin-top: 20px;" href="">Login</a>
  			 	</form>
			</div>
			<a href="company-signup">Sign up for foodSNAP</a>
		</div>
	</section>
	
	<section class="why-sign-up">
		<div class="container">
			<h1>Why sign up for foodSNAP</h1>
		
		<div class="col-xs-12 col-md-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Fusce blandit magna at rutrum cursus. 
			Mauris in sem at tortor egestas ullamcorper a id lectus. 
			Sed ut nisi nec quam congue congue at sed nunc. Suspendisse nec dapibus felis. 
			Suspendisse quam diam, maximus nec accumsan at, egestas quis nisl. Nulla at cursus sem. 
			Curabitur maximus mi sed dignissim interdum. Donec eu viverra velit.
		</div>
		
			<div class="col-xs-12 col-md-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Fusce blandit magna at rutrum cursus. 
			Mauris in sem at tortor egestas ullamcorper a id lectus. 
			Sed ut nisi nec quam congue congue at sed nunc. Suspendisse nec dapibus felis. 
			Suspendisse quam diam, maximus nec accumsan at, egestas quis nisl. Nulla at cursus sem. 
			Curabitur maximus mi sed dignissim interdum. Donec eu viverra velit.
		</div>
		
		<div class="col-xs-12 col-md-4">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
			Fusce blandit magna at rutrum cursus. 
			Mauris in sem at tortor egestas ullamcorper a id lectus. 
			Sed ut nisi nec quam congue congue at sed nunc. Suspendisse nec dapibus felis. 
			Suspendisse quam diam, maximus nec accumsan at, egestas quis nisl. Nulla at cursus sem. 
			Curabitur maximus mi sed dignissim interdum. Donec eu viverra velit.
		</div>
		
	
	</section>
	
<% include ../partials/footer.ejs %>
</body>
</html>
