<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

	<section id="company-login">
		<div class="container">
			<h1>Company Login</h1>
				<form>
		  	  		<fieldset class="form-group">
		  				<label for="formCompanyInput"></label>
    			  		<input type="text" class="form-control" style="margin: 0 auto; margin-top:10px;" id="formCompanyInput" placeholder="Username">
  			  		</fieldset>
  			  		<fieldset class="form-group">
		  				<label for="formCompanyPasswordInput"></label>
    			  		<input type="password" class="form-control" style="margin: 0 auto; margin-top:10px;" id="formCompanyPasswordInput" placeholder="Password">
  			  		</fieldset>
  			 	</form>
				<a type="button" class="btn btn-lg btn-primary" href="">Submit</a>
			</div>
			<a href="">Sign up for foodSNAP</a>
		</div>
	
	
	</section>
	
<% include ../partials/footer.ejs %>
</body>
</html>
