<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
 <% include ../partials/nav.ejs %>
	<section id="company-signup" style="padding-top:100px;">
		<div class="container">
			<h1>Company Sign-Up</h1>
				<form action="company-signup" method="get" style="margin-top: 20px;">
		  	  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formCompanyName">Company name:</label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formCompanyName" name="CompanyName" placeholder="Company Name" maxlength="20">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formCompanyAddress1">Address: </label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formCompanyAddress" name="CompanyAddress" placeholder="Address" maxlength="20">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formCompanyAddressCity">City: </label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formCompanyAddressCity" name="CompanyAddressCity" placeholder="City" maxlength="20">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formCompanyAddressState">State: </label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formCompanyAddressState" name="CompanyAddressState" placeholder="State" maxlength="20">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formCompanyAddressZipCode">Zip code:</label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formCompanyAddressZipCode" name="CompanyAddressZipCode" placeholder="Zip code" maxlength="5">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formCompanyManagerFirst">Manager's first name: </label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formCompanyManagerFirst" name="CompanyManagerFirst" placeholder="Manager's name" maxlength="20">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formCompanyManagerLast">Manager's last name: </label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formCompanyManagerLast" name="CompanyManagerLast" placeholder="Manager's email" maxlength="20">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formCompanyManagerPhone">Store phone number: </label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formCompanyManagerPhone" name="CompanyManagerPhone" placeholder="Manager's phone number" maxlength="20">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formUsername">Username: </label>
    			  		<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formUsername" name="Username" placeholder="Username" maxlength="20">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formPassword">Password: </label>
    			  		<input type="password" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formPassword" name="Password" placeholder="Password" maxlength="20">
  			  		</fieldset>
  			  		
  			  		<fieldset class="form-group" style="margin-bottom: 0">
		  				<label for="formConfirmPassword">Confirm Password: </label>
    			  		<input type="password" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="formConfirmPassword" name="ConfirmPassword" placeholder="Confirm Password" maxlength="20">
  			  		</fieldset>
  			  	
  			  	<fieldset class="form-group" style="margin-bottom: 0; margin-top: 20px;">
		  			<label for="specialFoods">Please mark what kinds of dietary needs your company accommodates for</label>
  			  		 	<div class="checkbox">
  							<label><input type="checkbox" value="" name="specialFoodsVegetarian">Vegetarian</label>
					 	</div>
					 	<div class="checkbox">
  							<label><input type="checkbox" value="" name="specialFoodsVegan">Vegan</label>
					 	</div>
					 	<div class="checkbox">
  							<label><input type="checkbox" value="" name="specialFoodsKosher">Kosher</label>
					 	</div>
					 	<div class="checkbox">
  							<label><input type="checkbox" value="" name="specialFoodsHalal">Halal</label>
					 	</div>
				</fieldset>
				
				
				<fieldset class="form-group" style="margin-bottom: 0; margin-top: 20px;">
					<label for="specialFoods">Would you like foodSNAP to provide you volunteers?</label>
						<div class="radio">
  							<label><input type="radio" name="optradio">Yes</label>
						</div>
						<div class="radio">
 						 	<label><input type="radio" name="optradio">No</label>
						</div>
				</fieldset>	  		
  			  		<a type="button" class="btn btn-lg btn-primary" style="margin-top: 20px;" href="">Submit</a>
  			 	</form>
			</div>
		</div>
	</section>
	
<% include ../partials/footer.ejs %>
</body>
</html>
