<section id="contact">
	<div class="container">
		<h1>Contact</h1>
		
		<form>
			<fieldset class="form-group" style="margin-bottom: 0; margin-top: 20px;">
		  		<label for="ContactName">Name: </label>
    			  	<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="ContactName" placeholder="Name" maxlength="20">
  			 </fieldset>
  			 
  			 <fieldset class="form-group" style="margin-bottom: 0; margin-top: 20px;">
		  		<label for="ContactEmail">Email: </label>
    			  	<input type="text" class="form-control" style="width: 50%; margin: 0 auto; margin-top:10px;" id="ContactEmail" placeholder="Email" maxlength="20">
  			 </fieldset>
			
			 <fieldset class="form-group" style="margin-bottom: 0; margin-top: 20px;">
		  		<label for="ContactMessage">Message: </label>
  			 </fieldset>
  			 
  			 <textarea form ="testformid" name="taname" id="taid" cols="35" wrap="soft"  style="width: 50%; margin-top:10px; height: 200px;" ></textarea>
			<br>
  			 <a type="button" class="btn btn-lg btn-primary" style="margin-top: 20px;" href="">Submit</a>
		</form>
			
	</div>
	
</section>