<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="foodSNAP-logo">
      <img src="/foodSNAP-logo.png">
    </a>
    <h1>food<span style="color:#ff80b2;">SNAP</span></h1>
    <a type="button" class="btn btn-lg btn-primary" href=" ">For Companies</a>
    <a type="button" class="btn btn-lg btn-primary" href=" ">For Volunteers</a>
  </div>
</div>


<% include ../pages/about.ejs %>
<% include ../pages/calendar-home.ejs %>
<% include ../pages/contact.ejs %>
<% include ../partials/footer.ejs %>
</body>
</html>
